@import "./../../abstracts/mixins";
@import "./../../abstracts/variables";

.container-slider {
  height: 300px;
  min-height: calc(100vh - 450px);
  @include md {
    min-height: calc(100vh - 180px);
  }
  position: relative;
  overflow: hidden;
  // box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0.4s;
}
.slide img {
  margin:10px auto;
		    display:block;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  text-align: center;
}
.active-anim {
  opacity: 1;
}

.btn-slide {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    text-shadow: 5px 5px 5px white;
  }
}

.btn-slide img {
  width: 40px;
  height: 60px;
  pointer-events: none;
}
.prev {
  top: 40%;
  left: 20px;
  transform: translateY(-60%);

  @include md {
    top: 50%;
  }
}
.next {
  top: 40%;
  right: 20px;
  transform: translateY(-60%);
  @include md {
    top: 50%;
  }
}

.container-dots {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  background: #f1f1f1;
}
.dot.active {
  background: rgb(32, 32, 32);
}
