@import "./../../abstracts/mixins";
@import "./../../abstracts/variables";

.section-footer-content {
    background-color: white;
    position: relative;
    width: 100%;
    bottom: 0;
}

.div-footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    height: 100%;
    padding: 1rem;

    @include md {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    img {
        width: 70px;
    }
}

.div-footer-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #42a5ff;
    font-size: 18px;
    span {
        cursor: pointer;
        &:hover {
            color: #0075c2;
        }
    }
    p {
        margin-top: 5px;
    }
}
.div-footer-icon {
    color: #42a5ff;
    cursor: pointer;
    span {
        margin: 0 5px;
        font-size: 28px;
        &:hover {
            color: #0075c2;
        }
    }
}
