@import "./../../abstracts/mixins";
@import "./../../abstracts/variables";

.section-header-bar-content {
    background-color: white;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 0rem 1rem 1rem 1rem;

    @include md {
        height: 90px;
    }
}

.div-header-bar-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @include md {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    img {
        width: 190px;
    }
}
.div-header-bar-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    gap: 0.5rem;
    @include md {
        flex-direction: row;
    }

    .separation {
        color: #42a5ff;
        font-weight: bold;
        @include md {
            display: none;
        }
    }
    .auth {
        display: none;
        transform: rotate(90deg);
        @include md {
            display: block;
            transform: rotate(0deg);
        }
    }

    button {
        font-weight: bold;
        font-size: 18px;
        padding: 0 10px;
        margin: 0 5px;
        border: none;
        border-radius: 5px;
        background-color: white;
        color: #42a5ff;
        cursor: pointer;

        &:hover {
            color: #0075c2;
        }
    }
}
