.main-technician-page-container{
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: row;
    height:100%;
    width: 100%;

}

.div-table-technician-container{
    margin-top: 5%;
    margin-left: 5%;

}