.div-container-columns{
    background-color: rgb(255, 172, 172);
    margin: 8px;
    border: 1px solid gray;
    border-radius: 2px;
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    h2{
        padding: 8px;
    }
    .div-list-task{
        padding: 8px;
    }
}

.div-task-container{
    border: 1px solid black;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 8px;
    background-color: white;
    flex-grow: 1;
    min-height: 100px;
}

.div-groups-container-columns{
    display: flex;

    // width: 220px;
}