.div-manage-projects-container{
    background-color: rgb(245, 245, 245);
    width: 1000px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.div-btn-container{
    display: flex;
    justify-content: space-between;
    margin: 8px;
    button {
        cursor: pointer;
        border: none;
        border-radius: 4px;
        background-color: #6DDBCD;
        color: white;
        padding: 6px 4px;
        &:hover{
            background-color: #3bbbaa;
        }
    }
}

.table-manage-projects-container{
    margin: 10px;
    
    border-radius: 10px;
    border-collapse: collapse;
    background-color: white;
}
.table-manage-projects-header{
    border-bottom: 2px solid #6DDBCD;
    th{
        padding: 10px;
    }
}

.table-manage-projects-body{
    text-align: center;
    td{
        padding: 10px;
    }
}

.table-btn-options{
    display: flex;
    justify-content: space-around;
    .table-btn-view {
        cursor: pointer;
        border: none;
        border-radius: 4px;
        background-color: #6DDBCD;
        color: white;
        padding: 4px 12px;
        &:hover{
            background-color: #3bbbaa;
        }
    }
    .table-btn-delete {
        cursor: pointer;
        border: none;
        border-radius: 4px;
        background-color: rgb(228, 0, 0);
        color: white;
        padding: 4px;
        &:hover{
            background-color: rgb(190, 0, 0);
        }
    }
}