// breakpoints
$xs: 480px;
$sm: 768px;
$md: 1024px;
$lg: 1280px;
$xl: 1520px;

// utils
$space1: 1rem;
$space2: 2rem;
$space3: 3rem;
$space4: 4rem;
$space5: 5rem;

// colors

$bgCyan: #6ddbcd;
$white: white;
$black: rgb(71, 71, 71);
$iconCyan: #0b8b7a;
//button
$btnCyan: #6ddbcd;
$btnCyanHover: #28baa7;
$btnBlue: #42a5ff;
$btnBlueHover: #0075c2;
$btnRed: rgb(228, 0, 0);
$btnRedHover: rgb(190, 0, 0);
$btnOrange: #f4c49c;
$btnOrangeHover: #f1a15f;
